table{
   width: 50%;
   margin: 20px auto;
}
th,
td {
   width: 33%;
}
h1,h2,h3{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
}
form{
   width: 50%;
   margin: 0 auto;
}

select,
textarea {
   margin-bottom: 1rem;
}
::placeholder {
    font-size: .9rem;
    font-family: 'courier new' , monospace;
}
textarea {
    width: 50%;
    height: 10rem;
}
.frame {
   width: 50%;
   margin: 20px auto;
}

.video {
   margin: 5% auto;
   width: 50%;
}
button {
   margin: 10px 5px;
   padding: 10px;
   background-color:steelblue;
   color: black;
   border: 1px solid transparent;
   border-radius: 5px;
}

.audio{
   margin: 5% auto;
   width: 50%;
}

button#audio_button{
   background-color:orangered;
}


footer {
   border: 1px solid red;
   height: 10vh;
   position: relattive;
}
img {
   position: absolute;
}
.bg-Facebook,
.bg-Twitter {
   background: url("img/css_sprites.png") no-repeat;

}
.bg-Facebook {
   width: 250px; /* Icon width */
   height: 50px; /* Icon height */
   display: inline-block; /* Display icon as inline block */
   background-position: 0 0; /* Icon background position in sprite */
}

.bg-Twitter {
   width: 250px; /* Icon width */
    height: 50px; /* Icon height */
    display: inline-block; /* Display icon as inline block */
    background-position: 200px 0; /* Icon background position in sprite */
}