table{
   width: 50%;
   margin: 20px auto;
}
th,
td {
   width: 33%;
}
h1,h2,h3{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: center;
}
form{
   width: 50%;
   margin: 0 auto;
}

select,
textarea {
   margin-bottom: 1rem;
}
::placeholder {
    font-size: .9rem;
    font-family: 'courier new' , monospace;
}
textarea {
    width: 50%;
    height: 10rem;
}
.frame {
   width: 50%;
   margin: 20px auto;
}

video {
   margin: 10px auto;
   display: block;
}