* {
   margin: 0;
   padding: 0;
}

body {
   width: 400px;
   margin: 0 auto;
   height: 100vh;
   background-color: #fff;
}

html {
   background-color: #444;
}

header {
   color: #c00;
   text-transform: uppercase;
   background-color: #333;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   font-size: 36px;
}

section  p {
   font-weight: bold;
   font-size: 24px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #ccc;
   border: 2px solid #999;
   color: #666;
   text-align: center;
   margin: 10px auto;
   padding: 10px;
   width: 300px;
}

.correct {
   background-color: #0c0;
   border: 2px solid #090;
   color: #fff;
}
.wrong {
   background-color: #c00;
   border: 2px solid #900;
   color: #fff;
}

input,
button {
   display: block;
   padding: 10px;
   margin: 10px auto;
   width: 300px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bold;
   font-size: 24px;
}


