body {
   font-family:'Open Sans', sans-serif;
  }

h2 {
   font-weight:700;
   font-size:22px;
   margin-bottom:15px;
}

p {
   font-size:1.1em;
   line-height:1.3em;
}
img {
  height: 400px;
  margin: 0 auto;
  padding: 0;
} 
.slide_wrap {  /*class that contains the main slider */
   position: relative;
   max-width: 1000px;
   margin: 0 auto;
   transition: 300ms;
}
.slide_show {
 position: relative; /* ensure that we can adjust z-index or position elements absolutely */
 z-index: 1;
}
  .slide_entry {
     position: absolute; /* set all slides to position absolute so they will stack on top of each other, thus hide one from the other*/
     top: 0;
     left: 0;
     right: 0;
     margin: 0 auto;
     transition: 300ms;
     text-align: center;
     opacity: 0;
     visibility: hidden;
     padding: 20px 5%;
     z-index: 2;
  }
  /* We use the .active sibling class to transition the slides in and out */
  .slide_entry.active {
     opacity: 1;
     visibility: visible;
  }

  /* set up left and right navigation */
  .slide_nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     position: absolute;
     left: 0;
     bottom: 0;
     top: 50%;
     transform: translateY(-60%);
     width: 100%;
     padding: 0;
     z-index: 3;
  }
  .slide_nav a {
     font-size: 50px;
     color: rgb(70, 69, 69);
     cursor: pointer;
     text-decoration: none;
  }

  /* pull our navigation out of the slider container to avoid z-index issues */
  #prev {
     margin-left: 40px;
  }
  #next {
     margin-right: 40px;
  }
